
<div class="col-12 col-md-3">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="v-pills-ff-grants-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ff-grants" type="button" role="tab" aria-controls="v-pills-ff-grants" aria-selected="true"><img src="{{ 'family-fund.svg' | asset_url }}" alt="family-fund">Grants Transactions</button>
          <button class="nav-link" id="v-pills-ff-transactions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ff-transactions" type="button" role="tab" aria-controls="v-pills-ff-transactions" aria-selected="true"><img src="{{ 'family-fund.svg' | asset_url }}" alt="family-fund">Redeemed Transactions</button>

    </div>
</div>