     {% comment %}
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    
  
      <predictive-search>
     {% endcomment %}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search-bar">
      <input 
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      {%- if section.settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results-list"
        aria-controls="predictive-search-results-list"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%}
       class="form-control" placeholder="Search..." />
   

   <button type="submit" class="search-btn">
    <img src="{{ 'search.svg' | asset_url }}" alt="Search">
    <span class="visually-hidden">Search</span>

    </button>
  </form>

<input name="options[prefix]" type="hidden" value="last">
     {% comment %}
    {%- if section.settings.predictive_search_enabled -%}
      <div id="predictive-search" tabindex="-1"></div>
    {%- endif -%}

</predictive-search>
     {% endcomment %}
