{%- if settings.social_linkedin_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_linkedin_link }}" class="link list-social__link" >
        {%- render 'icon-linkedin' -%}
        <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
     </a>
    </li>
{%- endif -%}