
{% include 'breadcrumbs' , title: page.title %} 

<div class="container-fluid story-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          {{ page.content }}
        </div>
    </div>
</div>