{% layout none %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ shop.name }} | Coming Soon </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {{ 'comming-util.css' | asset_url | stylesheet_tag }}
     {{ 'comming-main.css' | asset_url | stylesheet_tag }}
    <!--===============================================================================================-->
</head>

<body>
    <!--  -->
    <div class="simpleslide100">
        <div class="simpleslide100-item bg-img1" style="background-image: url('https://cdn.shopify.com/s/files/1/0649/0688/7411/files/bg01.webp?v=1706784930');"></div>
    </div>
    <div class="size1 overlay1">
        <!--  -->
        <div class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
            <h1 class="l1-txt1 txt-center p-b-25">
                <img src="https://cdn.shopify.com/s/files/1/0649/0688/7411/files/Learning_SPACE_ef76a6b6-d368-45e0-812d-b6b42db6b2f9.png?v=1706784764" alt="">
            </h1>
            <h3 class="l1-txt1 txt-center p-b-25">
                Coming Soon
            </h3>
            <p class="m2-txt1 txt-center p-b-48">
                We Are Launching New Website
            </p>
          {% comment %}
            <div class="flex-w flex-c-m cd100 p-b-33">
                <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                    <span class="l2-txt1 p-b-9 days" id="days">0</span>
                    <span class="s2-txt1">Days</span>
                </div>
                <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                    <span class="l2-txt1 p-b-9 hours" id="hours">0</span>
                    <span class="s2-txt1" >Hours</span>
                </div>
                <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                    <span class="l2-txt1 p-b-9 minutes" id="minutes">0</span>
                    <span class="s2-txt1">Minutes</span>
                </div>
                <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                    <span class="l2-txt1 p-b-9 seconds"id="seconds">0</span>
                    <span class="s2-txt1" >Seconds</span>
                </div>
            </div>
          {% endcomment %}
          {% form 'storefront_password', class:'w-full flex-w flex-c-m validate-form' %}
         {{ form.errors | default_errors }}
<div class="wrap-input100 validate-input where1">
<input class="input100 placeholder0 s2-txt2" type="text" name="password" placeholder="Enter Password">
<span class="focus-input100"></span>
</div>
<button class="flex-c-m size3 s2-txt3 how-btn1 trans-04 where1" name="commit" type="submit">Submit</button>
          
            {% endform %}
        </div>
    </div>
  <script>
// // Set the date we're counting down to
// var countDownDate = new Date("Feb 1, 2024 21:00:00").getTime();

// // Update the count down every 1 second
// var x = setInterval(function() {

//   // Get today's date and time
//   var now = new Date().getTime();
    
//   // Find the distance between now and the count down date
//   var distance = countDownDate - now;
    
//   // Time calculations for days, hours, minutes and seconds
//   var days = Math.floor(distance / (1000 * 60 * 60 * 24));
//   var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
//   var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//   var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
//   // Output the result in an element with id="demo"
//   document.getElementById("days").innerHTML = days 
//   document.getElementById("hours").innerHTML = hours
//   document.getElementById("minutes").innerHTML = minutes
//   document.getElementById("seconds").innerHTML = seconds
    
//   // If the count down is over, write some text 
//   if (distance < 0) {
//     clearInterval(x);
//     document.getElementById("days").innerHTML = 0 
//   document.getElementById("hours").innerHTML = 0
//   document.getElementById("minutes").innerHTML = 0
//   document.getElementById("seconds").innerHTML = 0
//   }
// }, 1000);
</script>
</body>

</html>